<div class="container" style="background-color: rgba( 255, 255, 255, 0.9 );">
  <% @post_summary.errors.full_messages.each do |message| %>
    <li style="color: red;"><%= message %></li>
  <% end %>
  <h3>投稿しよう</h3>
  <div class="row">
    <div class= "col">
    <%= form_with model:@post_summary, local:true do |f| %>

    <%= f.select :category, [["動画・映画", "動画・映画"], ["本・書籍","本・書籍"],["アクティビティ","アクティビティ"]], {include_blank: "選択してください"}, class: "form-control" %>
    <!--日本語化↓-->
    <!--<= f.select :category, PostSummary.categories.keys.map {|k| [I18n.t("enums.post_summary.category.#{k}"), k]}, {include_blank: "選択してください"} %>-->

      <%= render 'post_summaries/form', f:f %>

      <%= f.fields_for :post_house do |s| %>
        <div class= "form-group">
          <label>リンク</label>
          <%= s.text_field :link, class: "form-control", placeholder:"閲覧・購入が可能なリンクをコピペください" %>
        </div>
      <% end %>

      <%= f.submit "追加", class: "btn btn-primary" %>

    <% end %>
    </div>
  </div>
</div>