<h1 class= "list">いいね投稿一覧</h1>
<div class="container mx-auto" style="background-color: rgba( 255, 255, 255, 0.8 );">
        <div class="row">
            <div class="col">
                <% @all_ranks.each do |post| %>
                <div class= "d-flex p-4">
                    <div class="slider">
                        <% if post.post_images.present? %>
                            <% post.post_images.each do |image| %>
                                <%= attachment_image_tag image, :image, fallback: "noimage.jpg", width: "200" %>
                            <% end %>
                        <% else %>
                            <%= image_tag 'noimage.jpg', width: "200" %>
                        <% end %>
                    </div>
                    <span class="p-5">
                        <p><%= link_to post.title, post_summary_path(post.id) %></p>
                        <p><%= post.headline %></p>
                        <p><%= post.title.truncate(15) %></p>
                    </span>
                    </div>
                <% end %>
            </div>
        </div>
</div>
<span><%= paginate @all_ranks %></span>