<div class="container">
  <div class="row">
    <div class= "col">
    <h3>投稿しよう</h3>
      <%= form_with model:@post_summary, local:true do |f| %>

      <%= f.select :category, [["隠れおすすめスポット", "隠れおすすめスポット"], ["隠れ喫茶店","隠れ喫茶店"],["おすすめ散歩","おすすめ散歩"]], {include_blank: "選択してください"}, class: "form-control" %>
      <!--日本語化↓-->
      <!--<= f.select :category, PostSummary.categories.keys.map {|k| [I18n.t("enums.post_summary.category.#{k}"), k]}, {include_blank: "選択してください"} %>-->
      
        <%= render 'post_summaries/form', f:f %>

        <%= render 'post_summaries/map', f:f %>

        <%= f.submit "追加", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>

