<h3>投稿しよう</h3>
<%= form_with model:@post_summary, local:true do |f| %>

<%= f.select :category, [["隠れおすすめスポット", "隠れおすすめスポット"], ["隠れ喫茶店","隠れ喫茶店"],["おすすめ散歩","おすすめ散歩"]], {include_blank: "選択してください"}, class: "form-control" %>

  <div class= "form-group">
    <label>タイトル</label>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class= "form-group">
    <label>画像</label>
    <%= f.attachment_field :post_images_images, multiple: true, class: "form-control" %>
  </div>
  <div class= "form-group">
    <label>見出し</label>
    <%= f.text_field :headline, class: "form-control" %>
  </div>
  <div class= "form-group">
    <label>紹介文</label>
    <%= f.text_area :introduction, class: "form-control" %>
  </div>
  <%= f.fields_for :post_outside do |s| %>
    <div class= "form-group">
      <label>住所</label>
      <%= s.text_field :address, class: "form-control" %>
    </div>
  <% end %>

  <%= f.submit "追加", class: "btn btn-primary" %>

<% end %>