<h1 class="title-post"><%= @post_summary.title %></h1>
<div class="container mx-auto pb-5" style="background-color: rgba(0,0,0,0.4);">
  <div class="row">
    <div class="col-md-5 mt-3">
      <div class="subtitle"><span><i class="fas fa-tags"></i></span>タグ</div>
        <p class="w-nomal">
          <% @tags.each do |tag| %>
            #<%= tag.tag_name %>
          <% end %>
        </p>
      <!--画像-->
      <div class="slider">
        <% if @post_summary.post_images.present? %>
          <% @post_summary.post_images.each do |image| %>
            <%= attachment_image_tag image, :image, fallback: "noimage.jpg" %>
          <% end %>
        <% else %>
          <%= image_tag 'noimage.jpg', width: "200" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-7">
      <div style="margin: 20px; overflow-wrap-normal">
        <div class="subtitle"><span><i class="fas fa-angle-double-right"></i></span>CSS見出し</div>
        <p class="w-nomal"><%= @post_summary.headline %></p>

        <div class="subtitle"><span><i class="fas fa-angle-double-right"></i></span>紹介</div>
        <p class="w-nomal"><%= @post_summary.introduction %></p>

        <!--post_houseのリンクを記入していれば-->
          <span>
            <% if @post_summary.post_house.present? %>
              <div class="subtitle"><span><i class="fas fa-angle-double-right"></i></span>リンク</div>
              <p><%= @post_summary.post_house.link %></p>
            <% end %>
          </span>

        <div class="subtitle"><span><i class="fas fa-user-astronaut"></i></span>投稿者</div>
        <span>
          <p><%= @user.user_name %><%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", width: "100" %></p>
        </span>

        <span>
          <% if user_signed_in? %>
            <% if @user.id == current_user.id %>
              <%= link_to "編集する", edit_post_summary_path(@post_summary.id), class: "btn btn-success" %>
              <%= link_to "削除する", post_summary_path(@post_summary.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </span>
        </div>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="row">
    <div class="offset-md-2 col-md-8 map" style="text-align: center;">
  <!--post_outsideのテーブルのカラムaddressに値があれば表示--------------------------------------------------------------------------------------------->
            <% unless @post_summary.post_outside.blank? %>
              <h2 class="address"><span><%= @post_summary.post_outside.address %></span></h2>
                <!--GoogleMAP-->
                <div id="map" style='width: 100%; height: 400px;'></div>
                    <script type="text/javascript">
                    function initMap(){
                      map = new google.maps.Map(document.getElementById('map'), {
                        //latが緯度、lngが経度を示す
                        center: {lat: <%= @post_summary.post_outside.latitude %>, lng: <%= @post_summary.post_outside.longitude %>},
                        //数値は0〜21まで指定できる。数値が大きいほど拡大される
                        zoom: 15,
                      });
                      //positionに指定した座標にピンを表示させる
                      marker = new google.maps.Marker({
                        position: {lat: <%= @post_summary.post_outside.latitude %>, lng: <%= @post_summary.post_outside.longitude %>},
                        map: map
                      });
                    }
                    </script>
                    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_KEY'] %>&callback=initMap" async defer></script>
            <% end %>
<!------------------------------------------------------------------------------------------------------------------------------------------------------>
    </div>
  </div>
</div>
<div class="container mx-auto my-4">
  <div class="row">
    <div class="offset-md-2 col-md-4" style="text-align: center;">
  <% if user_signed_in? %>
    <!--プックマークする-->
      <div id="bookmark_buttons_<%= @post_summary.id %>" class="put-on">
        <%= render "bookmarks/bookmark", post_summary: @post_summary %>
      </div>
    </div>
    <div class="col-md-3" style="text-align: center;">
      <!--いいね-->
      <div id="favorite_buttons_<%= @post_summary.id %>" class="put-on">
        <%= render "favorites/favorite", post_summary: @post_summary %>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="row">
    <div class="offset-md-2 col-md-8" style="text-align: center;">
    <!--レビュー新規投稿-------------------------------------------------------------------------------------------------------------------------->
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModal">
        レビューする
      </button>

    <!-- Modal -->
     <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="exampleModalLabel">レビューを書く</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <%= form_with(model:[@post_summaries, @review], remote: true) do |f| %>
           <div class="modal-body">
             <%= f.hidden_field :post_summaries_id, value: @post_summaries.id %>
             <%= f.hidden_field :user_id, value: @post_summaries.user_id %>

             <!-- 評価 -->
             <div class="form-group row" id="star">
              <%= f.label :score,'評価 ', class:'col-md-3 col-form-label' %>
              <%= f.hidden_field :score, id: :review_star %>
             </div>

             <!-- 評価javascript -->
             <script>
             $('#star').raty({
                size     : 36,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                scoreName: 'review[score]',
                half: true,
             });
             </script>

             <!-- 口コミ -->
             <div class="form-group row">
              <%= f.label :content, '口コミ内容 ', class:'col-md-3 col-form-label' %>
              <div class="col-md-9">
                <%= f.text_area :content, class: "form-control", rows: "8",
                    placeholder:'口コミ内容がなくても、評価のみで投稿できます。' %>
              </div>
             </div>
           </div>
           <div class="modal-footer">
             <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
             <%= f.submit "投稿する", class:"btn btn-primary" %>
           </div>
    <% end %>
    </div>
  </div>
</div>

      <!--レビュー一覧-->
      <div id= "review">
        <%= render 'reviews/review', reviews: @reviews %>
      </div>
  <% end %>
    </div>
  </div>
</div>


