<div class="wrapper">
  <div class= "login">
    <p class="title">新規登録</p>

      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :ユーザー名 %>
          <%= f.text_field :user_name, autofocus: true, placeholder: "登録したいユーザー名" %>
        </div>

        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "登録するメールアドレス" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "登録パスワード" %>
        </div>

        <div class="field">
          <%= f.label :パスワード（確認用） %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <button>
            <i class="spinner"></i>
            <span class="state">新規登録</span>
          </button>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
</div>
