<div class="container mx-auto pb-5" style="background-color: rgba( 255, 255, 255, 0.9 );">
  <% @user.errors.full_messages.each do |message| %>
    <li style="color: red;"><%= message %></li>
  <% end %>
  <div class="row">
    <div class="col-md-6 mt-3">
      <%= form_with model:@user, local:true do |f| %>
      <div class= "form-group">
        <label style="margin: 20px; font-weight: 600;">プロフィール画像</label>
        <%= f.attachment_field :profile_image, autofocus: true, class: "form-control" %>

        <label style="margin: 20px; font-weight: 600;">ユーザー名</label>
        <%= f.text_field :user_name, autofocus: true, class: "form-control" %>

        <label style="margin: 20px; font-weight: 600;">メールドレス</label>
        <%= f.text_field :email, autofocus: true, class: "form-control" %>

        <%= f.submit '変更を保存する', class: "btn btn-info m-4" %>
      </div>
      <% end %>

      <%= link_to "退会する", unsubscribe_user_path, class: "btn btn-danger m-4" %>
    </div>
  </div>
</div>