<div class="container mx-auto">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= attachment_image_tag @user, :profile_image, format: 'jpeg', fallback: "noimage.jpg", width: "250", class: "box", style: "margin: 20px;"  %>
      <table class= "table offset-md-3 col-md-6 offset-sm-2 col-sm-7">
        <tbody>
          <tr>
            <td><p class="table__user-info">ユーザー名：</p></td>
            <td><p class="table__user-detail"><%= @user.user_name %></p></td>
          </tr>
          <tr>
            <td><p class="table__user-info">メールアドレス：</p></td>
            <td><p class="table__user-detail"><%= @user.email %></p></td>
          </tr>
        </tbody>
      </table>
      <%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-info" %>
    </div>
  </div>
</div>

<div class="container mx-auto">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3 class="bookmark"><i class="fas fa-bookmark"></i><span>ブックマーク一覧</span></h3>
      <table class="table table-bookmark offset-md-2 col-md-8 offset-sm-2 col-sm-7">
        <thead>
          <tr>
            <th style="width: 20%">カテゴリー</th>
            <th style="width: 40%">タイトル</th>
            <th style="width: 40%">本文</th>
          </tr>
        </thead>
        <tbody>
          <% @bookmarks.each do |bookmark| %>
            <tr>
              <td style="width: 20%"><%= bookmark.post_summary.category %></td>
              <td style="width: 40%">
                <%= link_to post_summary_path(bookmark.post_summary) do %>
                  <%= bookmark.post_summary.title.truncate(15) %>
                <% end %>
              </td>
              <td style="width: 40%"><%= bookmark.post_summary.introduction.truncate(15) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
