
<p class="introduction">
    このサイトではその暇な時を一人で過ごしたい楽しい日にできるようプチ楽しい情報が投稿されています。<br />
    以外と近所にあった知らない場所でのプチ楽しい時間、家の中でできるプチ楽しい時間をなど様々なことが共有されています。<br />
    見つけてあなたも楽しんでみてください。
</p>

<div class="container mx-auto">
    <div class="row">
        <div class="col-12 text-center">
                <h1 class="title">
                    <span class="title__title-point">家</span>のプチ楽しみ方カテゴリー
                </h1>
                <ul class= "feature">
                    <li class= "feature__feature-item">
                        <div><%= link_to post_summaries_path(category: 0) do%><%= image_tag 'movie.jpg', class: "feature__feature-item--picture" %><% end %></div>
                        <div class= "feature__feature-item--body">
                            <h4 class= "feature__feature-item--body--title">動画・映画</h4>
                            <p style="font-size: 16px;">楽しめる動画や映画が紹介されています。</p>
                        </div>
                    </li>
                    <li class= "feature__feature-item">
                        <div><%= link_to post_summaries_path(category: 1) do%><%= image_tag 'book.jpg', class: "feature__feature-item--picture" %><% end %></div>
                        <div class= "feature__feature-item--body2">
                            <h4 class= "feature__feature-item--body--title">本・電子書籍</h4>
                            <p style="font-size: 16px;">あっという間に没頭できる本や電子書籍を紹介</p>
                        </div>
                    </li>
                    <li class= "feature__feature-item">
                        <div><%= link_to post_summaries_path(category: 2) do%><%= image_tag 'art.jpg', class: "feature__feature-item--picture" %><% end %></div>
                        <div class= "feature__feature-item--body">
                            <h4 class= "feature__feature-item--body--title">アクティビティ</h4>
                            <p style="font-size: 16px;">塗り絵、エクササイズなど家でできる<br />アクティビティを紹介</p>
                        </div>
                    </li>
                </ul>
                <h1 class="title">
                    <span class="title__title-point">外</span>のプチ楽しみ方カテゴリー
                </h1>
                <ul class= "feature">
                    <li class= "feature__feature-item">
                        <div><%= link_to post_summaries_path(category: 3) do%><%= image_tag 'deer.jpg', class: "feature__feature-item--picture" %><% end %></div>
                        <div class= "feature__feature-item--body">
                            <h4 class= "feature__feature-item--body--title">おすすめスポット</h4>
                            <p style="font-size: 16px;">楽しめる動画や映画が紹介されています。</p>
                        </div>
                    </li>
                    <li class= "feature__feature-item">
                        <div><%= link_to post_summaries_path(category: 4) do%><%= image_tag 'cafe.jpg', class: "feature__feature-item--picture" %><% end %></div>
                        <div class= "feature__feature-item--body2">
                            <h4 class= "feature__feature-item--body--title">隠れ喫茶店</h4>
                            <p style="font-size: 16px;">楽しめる動画や映画が紹介されています。</p>
                        </div>
                    </li>
                    <li class= "feature__feature-item">
                        <div><%= link_to post_summaries_path(category: 5) do%><%= image_tag 'walk.jpg', class: "feature__feature-item--picture" %><% end %></div>
                        <div class= "feature__feature-item--body">
                            <h4 class= "feature__feature-item--body--title">おすすめ散歩一覧</h4>
                            <p style="font-size: 16px;">楽しめる動画や映画が紹介されています。</p>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>
