<% if @model == 'tag' %>
  <h3 style="color: white;">【タグの検索結果】検索ワード：<%= @content %></h3>
    <table class="table table-search">
        <thead>
            <tr>
              <th style="width: 20%">タイトル</th>
              <th style="width: 20%">ヘッドライン</th>
              <th style="width: 40%">紹介文</th>
              <th style="width: 40%">タグ</th>
            </tr>
        </thead>
        <tbody>
        <% @records.each do |post_summary| %>
          <tr>
            <td><%= link_to post_summary.title, post_summary_path(post_summary.id) %></td>
            <td><%= post_summary.headline %></td>
            <td><%= post_summary.introduction.truncate(20) %></td>
            <td>
              <% post_summary.tags.each do |tags| %>
                #<%= tags.tag_name %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
    </table>
<% else @model == 'post_outside' %>
  <h3 style="color: white;">【住所の検索結果】検索ワード：<%= @content %></h3>
    <table class="table table-search">
        <thead>
            <tr>
              <th>タイトル</th>
              <th>ヘッドライン</th>
              <th>紹介文</th>
              <th>住所</th>
            </tr>
        </thead>
      <% @records.each do |tag| %>
        <tbody>
          <tr>
            <td style="width: 20%"><%= link_to tag.post_summary.title, post_summary_path(tag.post_summary.id) %></td>
            <td style="width: 20%"><%= tag.post_summary.headline %></td>
            <td style="width: 40%"><%= tag.post_summary.introduction.truncate(20) %></td>
            <td style="width: 40%"><%= tag.address %></td>
          </tr>
        </tbody>
    </table>
      <% end %>
<% end %>