<!DOCTYPE html>
<html>
  <head>
    <title>SeekHobby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);">
        <a class="navbar-brand" href="/"><%= image_tag 'logo.png' %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/about">このサイトについて<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
              </a>
              <% if user_signed_in? %>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/users/<%= current_user.id %>">マイページ</a>
                  <a class="dropdown-item" href="/post_summaries/new">新規投稿</a>
                  <a class="dropdown-item" href="/post_summaries">投稿一覧</a>
                  <a class="dropdown-item" data-method="delete" href="/users/sign_out">ログアウト</a>
                </div>
              <% else%>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="/users/sign_in">ログイン</a>
                  <a class="dropdown-item" href="/users/sign_up">新規登録</a>
                  <a class="dropdown-item" href="/post_summaries">最新投稿一覧</a>
                </div>
              <% end %>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </head>
    <% if flash[:notice] %>
        <p style="background-color: #00BFFF; color: white; text-align: center;"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
        <p style="background-color: #FF69B4; color: white;"><%= alert %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
